html
{
    background-color: white;
    font-size: normal;
    font-family: SF Pro Rounded Courant, Verdana, Gill Sans Fin, Gill Sans, serif;
    font-style: normal;
    font-weight: lighter;
}

.actu a
{
	text-decoration: none;
	color: black;
}

.bouton_voir_plus
{
	text-decoration: underline;
}

body 
{
	margin: 0;
	background-color: #dfe3e6;
}

.stmam
{
	width: 100%;
	height: auto;
	display: block;
}

.image_accueil
{
	width: 50px;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.image_calendar
{
	width: 50px;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.image_actus
{
	width: 50px;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.image_boutique
{
	width: 50px;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
}

#instagram_logo
{
	width: 35px;
	height: auto;
}

#facebook_logo
{
	width: 35px;
	height: auto;
}

#youtube_logo
{
	width: 35px;
	height: auto;
}


nav
{
	margin: 0px;
	padding: 0px;
    position: sticky;
    top: 0;
}


nav ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: red;
	width: 100%;
	position: sticky;   
}

nav li
{
  float: left;
  position: sticky;
}

nav li a 
{
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    display: block; 
    position: sticky;   
}

nav li a:hover 
{
    background-color: black;
    position: sticky;
}

.presentation p
{
	margin: 10px;
	padding-bottom: 15px;
}
.presentation
{
	margin: 10px;
	margin-bottom: 15px;
}

.Actu
{
	background-image: url("20210418_ArthusNonette_AlexisHaulot_1131632642331274.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: black;
    height: 600px;
    border-radius: 5px;
    width: 100%;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
}

.description_actu
{
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 33px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}


.description_actu a
{
	color: white;
}

.calendar
{
	margin-top: 50px;
	padding-bottom: 100px;
}

.events
{
    display: flex;
    height: 500px;
}

.events div
{
	width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.events p
{
	text-shadow: white 1px 1px;
	font-size: 25px;
	text-align: center;
	color: red;	
	margin: 0px;
	border: solid;
	border-radius: 5px;
}

.events h1:hover
{
	color: red;
	text-shadow: white 1px 1px;

}

.events p:hover
{
	text-shadow: red 1px 1px;
	font-size: 25px;
	text-align: center;
	color: white;	
	background-color: black;
}

.event1
{
	background-image: url("Livraison_20201010_EnduroDeLaLesse_Haulot_1041602564805301.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.event1_titre 
{	
	height: 400px;
	font-size: 20px;
	text-align: center;
	display: table;
	vertical-align: middle;
	line-height: 400px;
	margin: 0px;
}

.event2
{
	background-image: url("Livraison Arthus GRG_20210911_EnduroGRG_Haulot_01941632642353436.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.event2_titre 
{
	text-shadow: red 1px 1px;
	color: white;
	height: 400px;
	font-size: 20px;
	text-align: center;
	display: table;
	vertical-align: middle;
	line-height: 400px;
}


.event3
{
	background-image: url("AHA_61151632642331435.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.event3_titre 
{
	text-shadow: red 1px 1px;
	color: white;
	height: 400px;
	font-size: 20px;
	text-align: center;
	display: table;
	vertical-align: middle;
	line-height: 400px;
}

.calendar a
{
	text-decoration: none;
}
	
